<!DOCTYPE html>
<html ng-app="BlocChat">
  <head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Bloc Chat</title>
    <!-- LINK TAGS TO INCLUDE EXTERNAL CSS FILES (e.g. FROM CDNs) -->

    <!-- LINK TAGS TO INCLUDE INTERNAL CSS FILES WITHIN THE "styles" DIRECTORY -->
    <link href="/styles/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>

  <body ng-controller="RoomCtrl">
      <aside class="sideBar">
      <h1 class="title"> Bloc Chat</h1>

      <!-- push a new room onto the array -->
      <form class="addRoom">
        <button class="addButton" data-toggle="modal" data-target="#myModal" type="submit">Add Room</button>
      </form>

      <ul class="roomList">
        <li ng-repeat="room in rooms">
          <!-- edit a room -->
          <input ng-model="room.text" ng-change="rooms.$save(room)" />
          <!-- delete a room -->
          <button ng-click="rooms.$remove(room)">Delete Room</button>
        </li>
      </ul>
    </aside>

<!--message section -->

    <section class="messagesSection">
      <h1 class="roomNumberTitle">Room 1</h1>
        <form class="addMessage" ng-submit="addRoomMessage()">
          <input ng-model="newRoomMessageText" />
          <button class="addButton" type="submit">Add Message</button>
        </form>

        <ul class="messageList">
          <li ng-repeat="message in roomMessages"</li>
            <!--edit a message -->
            <input ng-model="message.text" ng-change="roomMessages.$save(message)" />
            <!--delete a message -->
            <button ng-click="roomMessages.$remove(message)">Delete Message</button>
          </li>
        </ul>
    </section>

<!--modal -->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
<!--modal-content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">close</button>
          <h4 class="modal-title">Bloc Chat</h4>
        </div>
        <div class="modal-body">
          <p for "roomName">Create a New Room</p>
          <input id="roomName" type="text" ng-model="newRoomText" />
        </div>
        <div class="modal-footer">
          <button class="addButton" type="button" data-dismiss="modal">Close</button>
          <button ng-click="addRoom(roomName)" class="addButton" data-dismiss="modal" type="submit">Add Room</button>
      </div>
    </div>
  </div>
</div>



    <!-- SCRIPT TAGS TO INCLUDE EXTERNAL JAVASCRIPT FILES (e.g. FROM CDNs) -->

    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/3.4.1/firebase.js"></script>
    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/2.0.1/angularfire.min.js"></script>
    <!--Bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- SCRIPT TAGS TO INCLUDE INTERNAL JAVASCRIPT FILES WITHIN THE "scripts" DIRECTORY -->
    <script src="/scripts/app.js"></script>

  </body>
</html>
