 .sideBar{
  background-color: #A7D2CB;
  /*width: 33.3%;
  max-width: 300px;*/
  /*min-width: 300px;*/
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  /*height: 100%;*/
  /*min-height: 100%;*/
}

/*bloc chat title*/
.title {
  /*margin-left: 2rem;*/
  color: white;
  font-family: "Times New Roman";
  letter-spacing: 2px;
  font-size: 40px;
}
.modalTwoText {
  color: white;
}


.roomList {
  list-style: none;
  margin-top: 20px;
  display: table;

}

.roomName {
  color: white;
  margin: 0 0 10px 0;
  font-weight: bolder;
  font-size: 15px;
  cursor: pointer;
  font-family: "Times New Roman";
  vertical-align: middle;
  display: table-cell;

}

.userNameTitle{
  color: white;
  font-family: "Times New Roman";
}

.userNameMessages {
  float: left;
  padding-right: 5px;
  margin-left: 50px;
  margin-top: 10px;
  vertical-align: middle;
  text-align: center;
  font-family: "Times New Roman";
}

.oddMessage {
  background-color: #F2D388;
}

.evenMessage {
  background-color: white;
}

.messageList {
  list-style: none;

  /*margin-right: 2.5rem;*/
}

button {
  color:#333;
  text-shadow:1px 1px #fff;
  text-decoration: none;
  /*padding: 10px;
  border-radius: 0.25em;*/
  background: #f8f8f8;
  border:1px solid #ccc;
  border-right:0.25em solid #00558D; /* blue stripe */
  border-radius: 5px;
}


.ion-android-remove-circle {
  margin-top: 5px;
  font-size: 20px;
  margin-left: 10px;
  cursor: pointer;
}


input {
  height: 28px;
  font-size: 14px;
  /*margin: 2px;*/
}

.addMessage {
  position: fixed;
  float: right;
  bottom: 11px;
  width:75%;
  text-align: center;
  display: table;
}

.ion-ios-paperplane {
  font-size: 20px;
  display: table-cell;
  vertical-align: middle;
  text-align: left;

}

.newMessageInput {
  height: 40px;
  font-size: 14px;
  width: 75%;
  border-radius: 10px;
  vertical-align: middle;

}

.sendMessage {
  margin-left: 5px;
  vertical-align: middle;
  border-radius: 5px;

}

.messageInput {
  width: 100%;
  padding: 10px;
  margin: 0;

}

.row {
  text-align: center;
}

.fill {
    min-height: 100%;
    height: 100%;
}

html, body {
    height: 100%;
}

.container {
  text-align: center;
}

.roomNumberTitle {
  display: inline-block;
  text-align: center;
  margin 0 auto;
}
*, *::before, *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
